

<% let checkUser=2; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") {checkUser=1 }else{ checkUser=2 } %>
<% let checkAdmin=0; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") { checkAdmin=user.user.admin } %>
<script defer>
let divOpen = 2

</script>

<div id="filterDiv" class="filterDiv">
    <div onclick="hideFilters();" id="menuButton" style="position:absolute;cursor:pointer;color: black;transition: 1s ease;right: -2.5%;" >
        <ion-icon name="caret-back-outline" class="collapsebtn act"></ion-icon>
   </div>
    <input autocomplete="false" id="filterName" style="width:250px;border:none; text-align: center;" name="filterName" type="text" placeholder="Accommodation.." onkeydown="applyFilter(`<%=checkUser%>`,`<%=checkAdmin%>`)" onkeypress="applyFilter(`<%=checkUser%>`,`<%=checkAdmin%>`)">
    <input autocomplete="false" id="filterCounty" style="width:250px;border:none; text-align: center;" name="filterCounty" type="text" placeholder="Location.." onkeydown="applyFilter(`<%=checkUser%>`,`<%=checkAdmin%>`)" onkeypress="applyFilter(`<%=checkUser%>`,`<%=checkAdmin%>`)">
    <select name="filterType" id="filterType" style="width:250px;border:none; text-align: center;cursor: pointer;" onchange="applyFilter(`<%=checkUser%>`,`<%=checkAdmin%>`)">
        <option selected value="">Select Type..</option>
        <option value="hotel">Hotel</option>
        <option value="BandB">B&B</option>
        <option value="pub">Pub</option>
        <option value="campsite">Campsite</option>
    </select>
    
    <div class="input-range" style="width:250px;">
        <input id="slider" type="range"  multiple value="5,95" onchange="applyFilter(`<%=checkUser%>`,`<%=checkAdmin%>`)" style="background: transparent;" />
        <div class="range">
           <div class="lowGBPAmount" id="lowGBPAmount"></div>  
            <div class="highGBPAmount" id="highGBPAmount"></div>
        </div>
    </div>

</div>

<div id="results" style="position:fixed;height:77vh; width: 330px;bottom: 0%;left: 0%;background-color: #f5efef;overflow: scroll;overflow-x: hidden;"></div>
