<%
var checkUser=0;
if(typeof user=="object") {checkUser=1 }else{ checkUser=2 }
%>
<script defer>
let divOpen = 2

</script>

<div id="filterDiv" class="filterDiv">
    <div id="menuButton" style="transform: rotate(180deg);position:absolute;cursor:pointer; height:50px;width: 50px;right: -13%;top: 0%;color: rebeccapurple;transition: 1s ease" onclick="hideFilters();">
        
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 512.035 512.035" style="enable-background:new 0 0 512.035 512.035;" xml:space="preserve">
            <g transform="translate(1 1)">
                <polygon style="fill:#ef00ffb3;" points="459.737,255.035 50.137,24.635 184.11,255.035 50.137,485.435 	" />
                <polygon style="fill:#ff3c00;" points="118.403,447.035 502.404,255.035 118.403,63.035 459.737,255.035 	" />
                <polygon style="fill:#FFFFFF;"
                    points="53.55,479.461 184.11,255.035 53.55,30.608 7.47,7.568 169.603,255.035 7.47,502.501 	" />
                <path d="M7.47,511.035c-2.56,0-5.12-0.853-5.973-2.56c-2.56-2.56-2.56-6.827-0.853-10.24l158.72-243.2L78.297,131.301
                   c-2.56-4.267-1.707-9.387,2.56-11.947c4.267-2.56,9.387-1.707,11.947,2.56l83.627,128c1.707,2.56,1.707,6.827,0,9.387
                   L31.363,480.315l452.267-225.28L32.217,29.755l27.307,41.813c2.56,4.267,1.707,9.387-2.56,11.947
                   c-4.267,1.707-9.387,0.853-11.947-3.413L0.643,11.835c-2.56-2.56-1.707-6.827,0.853-10.24c2.56-2.56,5.973-3.413,9.387-1.707
                   l494.933,247.467c2.56,1.707,5.12,4.267,5.12,7.68c0,3.413-1.707,5.973-5.12,7.68L10.883,510.181
                   C10.03,511.035,9.177,511.035,7.47,511.035z" />
                <path d="M75.737,101.435c0-5.12-3.413-8.533-8.533-8.533s-8.533,3.413-8.533,8.533c0,5.12,3.413,8.533,8.533,8.533
                   S75.737,106.555,75.737,101.435" />
            </g>
        </svg>
   </div>
    <input id="filterName" style="width:250px;border:none" name="filterName" type="text" placeholder="Name of accommodation.." onkeydown="applyFilter(<%=checkUser%>)" onkeypress="applyFilter(<%=checkUser%>)">
    <select name="filterCounty" style="width:250px;border:none" id="filterCounty" onchange="applyFilter(<%=checkUser%>)" placeholder="aaa">
        <option selected value="">Select Location..</option>
        <optgroup label="England">
            <option>Bedfordshire</option>
            <option>Berkshire</option>
            <option>Bristol</option>
            <option>Buckinghamshire</option>
            <option>Cambridgeshire</option>
            <option>Cheshire</option>
            <option>City of London</option>
            <option>Cornwall</option>
            <option>Cumbria</option>
            <option>Derbyshire</option>
            <option>Devon</option>
            <option>Dorset</option>
            <option>Durham</option>
            <option>East Riding of Yorkshire</option>
            <option>East Sussex</option>
            <option>Essex</option>
            <option>Gloucestershire</option>
            <option>Greater London</option>
            <option>Greater Manchester</option>
            <option>Hampshire</option>
            <option>Herefordshire</option>
            <option>Hertfordshire</option>
            <option>Isle of Wight</option>
            <option>Kent</option>
            <option>Lancashire</option>
            <option>Leicestershire</option>
            <option>Lincolnshire</option>
            <option>Merseyside</option>
            <option>Norfolk</option>
            <option>North Yorkshire</option>
            <option>Northamptonshire</option>
            <option>Northumberland</option>
            <option>Nottinghamshire</option>
            <option>Oxfordshire</option>
            <option>Rutland</option>
            <option>Shropshire</option>
            <option>Somerset</option>
            <option>South Yorkshire</option>
            <option>Staffordshire</option>
            <option>Suffolk</option>
            <option>Surrey</option>
            <option>Tyne and Wear</option>
            <option>Warwickshire</option>
            <option>West Midlands</option>
            <option>West Sussex</option>
            <option>West Yorkshire</option>
            <option>Wiltshire</option>
            <option>Worcestershire</option>
        </optgroup>
        <optgroup label="Wales">
            <option>Anglesey</option>
            <option>Brecknockshire</option>
            <option>Caernarfonshire</option>
            <option>Carmarthenshire</option>
            <option>Cardiganshire</option>
            <option>Denbighshire</option>
            <option>Flintshire</option>
            <option>Glamorgan</option>
            <option>Merioneth</option>
            <option>Monmouthshire</option>
            <option>Montgomeryshire</option>
            <option>Pembrokeshire</option>
            <option>Radnorshire</option>
        </optgroup>
        <optgroup label="Scotland">
            <option>Aberdeenshire</option>
            <option>Angus</option>
            <option>Argyllshire</option>
            <option>Ayrshire</option>
            <option>Banffshire</option>
            <option>Berwickshire</option>
            <option>Buteshire</option>
            <option>Cromartyshire</option>
            <option>Caithness</option>
            <option>Clackmannanshire</option>
            <option>Dumfriesshire</option>
            <option>Dunbartonshire</option>
            <option>East Lothian</option>
            <option>Fife</option>
            <option>Inverness-shire</option>
            <option>Kincardineshire</option>
            <option>Kinross</option>
            <option>Kirkcudbrightshire</option>
            <option>Lanarkshire</option>
            <option>Midlothian</option>
            <option>Morayshire</option>
            <option>Nairnshire</option>
            <option>Orkney</option>
            <option>Peeblesshire</option>
            <option>Perthshire</option>
            <option>Renfrewshire</option>
            <option>Ross-shire</option>
            <option>Roxburghshire</option>
            <option>Selkirkshire</option>
            <option>Shetland</option>
            <option>Stirlingshire</option>
            <option>Sutherland</option>
            <option>West Lothian</option>
            <option>Wigtownshire</option>
        </optgroup>
        <optgroup label="Northern Ireland">
            <option>Antrim</option>
            <option>Armagh</option>
            <option>Down</option>
            <option>Fermanagh</option>
            <option>Londonderry</option>
            <option>Tyrone</option>
        </optgroup>
    </select>
    <select name="filterType" id="filterType" style="width:250px;border:none" onchange="applyFilter(<%=checkUser%>)">
        <option selected value="">Select Type..</option>
        <option value="hotel">Hotel</option>
        <option value="BandB">B&B</option>
        <option value="AirBandB">AirB&B</option>
        <option value="campsite">Campsite</option>
        <option value="Other">Other</option>
    </select>
    
    <div class="input-range" style="width:250px;">
        <input id="slider" type="range"  multiple value="5,95" onchange="applyFilter(<%=checkUser%>)"/>
        <div class="range">
           <div class="lowGBPAmount" id="lowGBPAmount"></div>  
            <div class="highGBPAmount" id="highGBPAmount"></div>
        </div>
    </div>

</div>

<div id="results" style="position:fixed;height:75vh; width: 300px;bottom: 0%;left: 0%;background-color: #f5efef;overflow: scroll;overflow-x: hidden;"></div>
